 <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3"src="{{ 	fields.field_project_images.content}}" alt="..." />
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="{{fields.view_node.content}}">{{fields.title.content}}</a>
                            </div>
                        </div>
