  <div class="col-lg-4 mb-5">
                            <div class="card h-70 shadow border-0">
                                <img class="card-img-top" src="{{ 	fields.field_project_images.content}}" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ fields.field_project_tag.content}}</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">{{ fields.title.content}}</h5></a>
                                    <p class="card-text mb-0">{{ fields.field_project_description.content}}</p>
                                </div>
                             
                            </div>
                        </div>